/*@import "compass/css3";*/

*,
*:before,
*:after,
*:empty {
  box-sizing: border-box;
}

body {
  padding: 3vw calc(1.2vw*20);
  background: linear-gradient(-45deg, #8f8f9b, #b98dc2, #af9d85, #8fb89e);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

div {
  /* // Hide superfluous border */
  overflow: hidden;
  /* background-color: yellow;*/
}

.master {
    text-align:center;
}
.header {
    display: flex;
    flex-wrap: wrap;
}
.header div {
    flex: 1 0 150px; /* really does work best with a fixed px flex-basis */
    /*height: 200px;*/
    padding: 0px;
    border: 0px solid rgb(11, 145, 44);
    background-color: none;
    align-items:center;
    justify-content: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  
  /* // Hide superfluous border */
  margin: 0 -4px -4px 0;
  
  list-style: none;
  padding: 0;
}
ul img {
  padding:2vw;
}

li {
  /* Three values: flex-grow | flex-shrink | flex-basis */
  flex: 1 0 10rem; /* really does work best with a fixed px flex-basis */
  /*height: 200px;*/
  padding: 0px;
  border: 0px solid black;
  background-color: none;
  text-align:center;
  
}

li:empty {
  height: 0;
  border: none;
};

.circle_box {
  display: flex;
  text-align: right;
  align-items: center;
}
.circle_box img {
  border-radius: 50%;
  border: .4rem solid #43192d;

  width:60%;  /*width seems to matter more than height in our case */
    max-width: 12rem;
}

.JohnB {
    display: flex;
    font-size: calc(1.5rem + 1vw);
    font-family: 'Orelega One','Fredoka One', sans-serif;
    color: #000000;
    align-items: center;
    /* letter-spacing: .1rem;*/
  }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 600px) {
    body {
      padding: 10px 5px;
    }
  }